.cartContainer{
  display:flex;
flex-wrap: wrap;
width: 60%;
align-items: center;
justify-content: space-between;
padding: 5%;
margin: auto;
color: greenyellow;

 background-color:black;
}
.big{
  display:flex;
position: fixed;
    margin:0px;
    padding: 0px;
    background-image: url("https://i.etsystatic.com/28966542/r/il/094631/3992790865/il_1140xN.3992790865_6eq1.jpg");
    width: 100%;
    height: 100vh;
}