
.high{
    width: 100%;
background-color: black;
    object-fit: fill;
}

.container{
display:grid;
grid-template-columns:repeat(4,1fr);
margin-top: 5%;
gap:20px;
width: 100%;



}
.subContain{
    /* border:1px solid black; */
    line-height: 20px;
    height:300px;
    padding-bottom: 35%;
    margin-bottom: 15%;
}
.image{
    height:100%;
    width: 80%;
    padding-left: 50px;
    
}
.btn{
    height: 30%;
    color: white;
    margin-left: 30px;
    

}
.buttonClass{
padding-top: 30px;
margin-right: 4px;

}

@media screen and (max-width: 800px) {
    .container {
        display:flex;
     flex-wrap: wrap;
     padding-bottom: 10%;
     
       
    }
    .image{
        height: 100%;
        width: 50%;
    }
  }